:root {
    --purple: #7b73b9;
    --gray: #cfdfe0;
    --green: #c1ffbe;
    --yellow: #facb86;
}
* {
    color: var(--purple);
}
body {
    background-color: var(--gray);
}

.game-btn {
    width: 300px;
    margin: auto;
    background-color: var(--purple);
    color: var(--yellow);
    position: absolute;
    height: 100px;
    font-size: 3.2em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 5px solid #4f4977;
    border-radius: 10px;
}

#display-container{
    margin: 200px auto 150px; 
    display:flex;
}

.word-display{
    display: inline;
    visibility: hidden;
    font-size: 6em;
}

.letter-div{
    display: inline; 
    margin: 0 20px; 
    border-bottom: solid var(--purple) 5px; 
    width: 50%;
}

#letter-bank{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 40px;
    font-size: 2.5em;
}

#game-container{
    padding: 0 50px;
}

.letter{
    margin: 0 50px;
}

#time-up-msg {
    position: absolute;
    font-size: 10em;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
}
